*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
    font-size: 17px;
   
}
body h2,h3,h4,h5{
     color: #2c3e50;
}
.container {
max-width: 1200px;
margin: auto;


}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url("./Images/lion-3.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
    color: white;
    text-align: center;
 

}
header h1{
    font-size: 90px;
    font-weight: 900;
    /* line-height: 1; */
}
header p{
    font-size: 40px;
font-family: cursive;
font-weight: 500;
padding: 10px;
    
}
header a{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 13px 30px;
    margin-top: 30px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 28px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;

}
/* section{
    max-width: 1200px;
} */
.main-sec {
    display: grid;
    grid-template-columns: 1fr; /* Ensures divs stack naturally */
    gap: 20px; /* Adds spacing between divs */
   
    border-radius: 3px;
    
}
.main-sec h1{
    text-align: center;
}
.main-sec  p{
    background-color: rgb(252, 249, 246);

padding: 18px;
font-size: 21px;
line-height: 1.9;
color: #333;
max-width: 950px;
    margin: 0 auto;


}
.tourist-places{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
    max-width: 1200px;
    margin: 30px auto;
  
}
.tourist-places div {
    background-color: #f7f7f7; 
    padding: 20px;
    /* text-align: center; */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.tourist-places p{
    /* text-align: center; */
    font-size: 24px;
     color: #333;
     /* padding: 14px; */

}
.tourist-places a{
      background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 20px 16px;
    margin-top: 20px;
    display: inline-block;

    text-transform: capitalize;
    font-size: 24px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;

}
 h2{
     text-align: center;
     padding: 20px;
     font-size: 30px;
     line-height: 1;
     font-weight: 700;

}
.tourist-places img{
   width: 100%; 
    border-radius: 10px;
   height: 250px;
   object-fit: cover;
    
    
}
.kenya-culture {
    text-align: center;
    padding: 20px 30px;
    background-color: rgb(252, 249, 246);
  
    
}
.kenya-culture h2{
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.kenya-culture p{
    font-size: 23px;
    line-height: 1.9;
     color: #333;
}
  section .cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;
      padding: 20px 15px;
    
    
  }
  .card{
      background-color: #fff;
      border-radius: 5px;
      padding: 30px;
       box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
      transition: 0.5s ease-in-out;

  }
  .card:hover{
      transform: translateY(-6px);
  
  }
  .card img{
      width: 100%;
      border-radius: 12px;
      /* height: 300px; */
      margin-bottom: 20px;
   
  }
footer {
color: #fff;
/* background-color: #0011; */
background-color: #000;
margin-top: 40px;
text-align: center;
padding: 30px;
}
footer h3{
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 2px solid #fff;
   
}

 footer h5{
     font-size: 17px;
     padding-bottom: 10px;
    
 }
footer p strong{
 font-weight: 500;
 line-height: 0.4;
 color: ghostwhite;
 
   
}
 footer p{
     padding: 10px;
     line-height: 1;
     font-size: 18px;
     opacity: 0.9;
 }



footer  ul li{
    list-style: none;
    padding: 5px;

}
 footer li a{
     text-decoration: none;
     font-size: 21px;
     color: #fff;
     line-height: 1;
    
 }
 footer li a:hover{
     color: rebeccapurple;
     font-size: 20px;
     
 }
 footer span{
  font-size: 20px;
  padding: 20px;

 }
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
iframe{
    width: 400px;
    height: 160px;
    border-radius: 4px;
 
}

@media (max-width:900px) {
    header{
        padding: 60px 0;
    }
    header h1{
        font-size: 50px;
    }
    header p{
        font-size: 25px;
    }
    footer{
        padding: 0;
        margin-top: 14px;
       
    }
    footer .grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
    }
    footer p{
        font-size: 15px;
        padding: 4px;
    }
    footer ul a {
        font-size: 14px;
        padding: 0;
    }
    footer span{
        font-size: 17px;
        padding: 10px;
    }
      .tourist-places {
        grid-template-columns: 1fr;
    }
    
}
@media (max-width:500px) {
    header{
        padding: 30px 0;
    }
    
    header h1{
        font-size: 36px;

    }

     header p{
        font-size: 21px;
        padding: 10px;
    }
    
     header a{
        font-size: 23px;
        margin-top: 15px;
        padding: 10px 18px;
    }
    footer .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:18px;
    }
    footer span{
        font-size: 14px;
        padding: 0;
    }
    
}
/* @media (min-width:9800px) {
    footer .grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 13px;
    }
    footer p{
        font-size: 16px;
        padding: 10px;
    }
    footer ul li{
        padding: 5px;
        font-size: 19px;
    }
    footer span{
     
    }
    footer iframe{
        width: 300px;
        height: 180px;
    }
    
} */