*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
   
}

.container {
max-width: 1200px;
/* margin: 0 auto; */


}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url("./Images/lion-3.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    color: white;
    text-align: center;
 

}
header h1{
    font-size: 90px;
    font-weight: 800;
    /* line-height: 1; */
}
header p{
    font-size: 40px;
font-family: cursive;
font-weight: 500;
padding: 10px;
    
}
header a{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 13px 30px;
    margin-top: 30px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 28px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;

}
footer {
    text-align: center;
    font-size: 18px;
    margin-top: 50px; 
}
@media (max-width:900px) {
    header{
        padding: 60px 0;
    }
    header h1{
        font-size: 50px;
    }
    header p{
        font-size: 25px;
    }
    
}
@media (max-width:500px) {
    header{
        padding: 30px 0;
    }
    
    header h1{
        font-size: 36px;
    }

     header p{
        font-size: 21px;
        padding: 10px;
    }
    
     header a{
        font-size: 23px;
        margin-top: 15px;
        padding: 10px 18px;
    }
    
}